@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Universidade Contoso</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem-vindo a Universidade Contoso</h2>
        <p>
            A Contoso University é um aplicativo de exemplo que 
            demonstra como usar o Entity Framework Core em 
            um aplicativo Web ASP.NET Core MVC.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Construa do zero</h2>
        <p>Você pode criar o aplicativo seguindo as etapas em uma série de tutoriais.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Consulte o tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Baixe</h2>
        <p>Você pode baixar o projeto concluído do GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">Veja o código fonte do projeto &raquo;</a></p>
    </div>
</div>